@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

.Arabic_App {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-size: 13px;

    /* white-space: nowrap; */
    overflow: hidden;
  }
  /* .navbar {
    z-index: 1;
  } */

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .MuiExpansionPanelDetails-root {
    display: block !important;
    padding: 0px !important
  }


  a:hover {
    color: #c82257;
  }


  .MuiBreadcrumbs-separator{
    margin: 0!important;
  }
