.delivery-address-container {
    width: 30vw;
    border: 0.5px thin black;
    margin-left: 14%;
    margin-right: 4%;
    padding: 10px;
    text-align: left;
    height: 60%;

}

.product-item-container {
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    width: 60vw;
    border: 0.5px thin black;
    text-align: left;

}

.product-image-container {
    flex-basis: 30%;
    height: 40vh;

}

.product-info-container {
    text-align: left;
    flex-basis: 65%;
    margin-left: 1%;
    padding:'2%'
    // height: 100%;
}