.shipping-container {
    background-color: white !important;
    font-family: 'Cairo', sans-serif;
    font-size: 13px;
}
.container {
    display: grid;
    background-color: white;
}

.shipping-breadcrumb{
    margin-top: 50px;
    text-align: left;
    margin-left: 70%;
}

.shipping-address-container {
    display: flex;
    justify-content: space-between;
    margin-left: 8%;
}

.shipping-address {
    margin-bottom: 20%;
    margin-left:2%;
    border: 1px solid grey;
    padding: 15px;
    text-align: left;

}

.price-details {
    padding: 1rem;
    border: 1px solid grey;
    width: 40%;
    margin-right:7%;
    text-align: left;
    height: 60%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.price-details-items {
    display: flex;
    justify-content: space-between;
    
}
